body{
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}
.orange-color{
  color: orange;
}
.half-width{
  width: 50%;
  margin: 30px 30px;
  
}
.flex{
  display: flex;
}
.pictures img{
  width: 100%
}
h1{
  font-size: 50px; 
  color: gray;
}
.link-button{
  text-decoration: none;
  background-image:linear-gradient( orange,salmon);
  padding: 10px 10px;
  border-radius: 20px;
  
}
.second-pictures img{
  width: 300px;
}
.second-flex{
  display: flex;
  background-image: url('../images/7.png');
  padding: 120px 120px ;
  padding-top: 40px;
  margin-top: 50px;
}
