body{
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}
.orange-color{
  color: orange;
}
.half-width{
  width: 50%;
  margin: 30px 30px;
  
}
.flex{
  display: flex;
}
.pictures img{
  width: 100%
}
h1{
  font-size: 50px; 
  color: gray;
}
.link-button{
  text-decoration: none;
  background-image:linear-gradient( orange,salmon);
  padding: 10px 10px;
  border-radius: 20px;
  
}
.second-pictures img{
  width: 300px;
}
.second-flex{
  display: flex;
  background-image: url('../images/7.png');
  padding: 120px 120px ;
  padding-top: 40px;
  margin-top: 50px;
}
.my-recipes{
  text-align: center;
 
}
.last-flex{
  
  display: flex;
  margin: 20px 20px;
}
.last-flex img{
  width: 350px;
  
  
}
.box-shadow{
  text-align: center;
  box-shadow: 10px 10px 40px   gray  ;
  border: 7px solid white;
  margin: 10px 10px;
  border-radius: 30px;
  
}
.follower-count{
  display: flex; 
  box-shadow: 10px 10px 40px gray;
  
  
 
}
.follow{
  margin-left:  200px ;
 
}
.follower-count{
  margin-top: 80px;
  border-radius: 30px;
  margin: 30px 30px;
  padding: 20px 20px;
}
footer{
  text-align: center;
  margin-top: 100px;
  padding: 40px 40px;
  background-color: rgb(11, 2, 17);
}
.footer-color{
  color: antiquewhite;
}